.section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

.section-header {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.instagram{
    --slds-c-button-brand-color-background : #eb2d53;
    --slds-c-button-brand-color-border : #eb2d53;
    --slds-c-button-brand-text-color : white;
}
.google{
    --slds-c-button-brand-color-background : #c18d0b;
    --slds-c-button-brand-color-border : #c18d0b;
    --slds-c-button-brand-text-color : white;
}