* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.slds-boxx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.task-item {
    border: 1px solid #d8dde6;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-header {
    margin-bottom: 1rem;
}

.task-body {
    margin-bottom: 1rem;
}

.task-footer {
    display: flex;
    justify-content: flex-end;
}

.flag-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}