.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.qr-image {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}